@layout MainLayout
@page "/FRHCL104"
@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@inject EIKON.UI.Services.EikonDataServices api
@inject EIKON.UI.Services.AuthenticationService auth
@inject NavigationManager nv

<div class="W-100">

    <Breadcrumb Title="Requisiciones de Personal" BackUrl="/dash" />
    <div class="header">
        <span style="font-size:14px;"></span>
        <div style="display:flex; gap:10px">
        </div>


    </div>
</div>
<Alert2 @ref="alertInfo" TypeAlert="info" Message="Requisición Actualizada" />
<DxTabs ActiveTabIndex="@ActiveTabIndex" ActiveTabIndexChanged="@OnActiveTabIndexChanged">

    <DxTabPage Text="Requisiciones en Proceso">
        <div class="W-100">

            <div class="header">
                <span style="font-size:16px; font-weight:300;" class="eikon-primary-text">Consulta de Requisiciones en Proceso</span>
                <div style="display:flex; gap:10px">
                </div>

                <Toolbar formulario="FRHCL104" OnAdd="AgregarReq"  />
            </div>
        </div>
        <div class="separador">
            <hr />
        </div>
        @if (datarq == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <DxGrid Data="@datarq" @ref="MyGrid"
                    CssClass="mw-1100"
                    KeyFieldName="Reqnume"
                    ShowFilterRow="true" FilterRowCondition="GridFilterRowCondition.Contains">
                <Columns>
                    <DxGridCommandColumn Width="160px" VisibleIndex="1">
                        <HeaderTemplate>
                        </HeaderTemplate>
                        <CellDisplayTemplate>
                            <a class="" @onclick="@(() => Editar((Frhrq010Dto)context.DataItem))" style="text-decoration: none;" href="javascript:void(0);"><i class="fi fi-rr-edit"></i></a>

                        </CellDisplayTemplate>
                    </DxGridCommandColumn>
                    <DxGridDataColumn Caption="Req #" FieldName="Reqnume" Width="80px" VisibleIndex="3">

                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Descripción" FieldName="Reqtitu" Width="300px" VisibleIndex="4">

                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="@lblOficina" FieldName="OfCodigo" Width="160px" VisibleIndex="5">
                        <EditSettings>
                            <DxComboBoxSettings Data="oficinas"
                                                ValueFieldName="OfCodigo"
                                                TextFieldName="OfDescri"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                EditFormat="{1} {2}">
                                <Columns>
                                    <DxListEditorColumn FieldName="OfCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="OfDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBoxSettings>
                        </EditSettings>
                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Fecha" FieldName="Reqfech" Width="80px" VisibleIndex="5"></DxGridDataColumn>
                    <DxGridDataColumn Caption="Cantidad" FieldName="Reqqty" Width="80px" VisibleIndex="6"></DxGridDataColumn>

                    <DxGridDataColumn Caption="Motivo" FieldName="MtCodigo" VisibleIndex="8" Width="130px">
                        <EditSettings>
                            <DxComboBoxSettings Data="motivos"
                                                ValueFieldName="MtCodigo"
                                                TextFieldName="MtDescri"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                EditFormat="{1} {2}"
                                                SearchMode="@ListSearchMode.AutoSearch"
                                                SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="MtCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="MtDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBoxSettings>
                        </EditSettings>
                    </DxGridDataColumn>

                    <DxGridDataColumn Caption="Estatus" FieldName="Reqesta" VisibleIndex="9" Width="130px">
                        <EditSettings>
                            <DxComboBoxSettings Data="estatus"
                                                ValueFieldName="Value"
                                                TextFieldName="Text"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                EditFormat="{1} {2}"
                                                SearchMode="@ListSearchMode.AutoSearch"
                                                SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="Value" Caption="Código" />
                                    <DxListEditorColumn FieldName="Text" Caption="Descripción" />

                                </Columns>
                            </DxComboBoxSettings>
                        </EditSettings>
                    </DxGridDataColumn>

                </Columns>
            </DxGrid>
        }
    </DxTabPage>
    <DxTabPage Text="Aprobadas">
        <div class="W-100">


            <div class="header">
                <span style="font-size:16px; font-weight:300;" class="eikon-primary-text">Consulta de Requisiciones Aprobadas</span>
                <div style="display:flex; gap:10px">
                </div>

                <Toolbar formulario="FRHCL104" OnAdd="AgregarReq"  />

            </div>
        </div>
        <div class="separador">
            <hr />
        </div>
        @if (datarqAprob == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <DxGrid Data="@datarqAprob" @ref="MyGrid2"
                    CssClass="mw-1100"
                    EditMode="GridEditMode.EditRow"
                    ShowFilterRow="true" FilterRowCondition="GridFilterRowCondition.Equals">
                <Columns>
                    <DxGridDataColumn Caption="Req #" FieldName="Reqnume" Width="80px" VisibleIndex="3">

                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Descripción" FieldName="Reqtitu" Width="300px" VisibleIndex="4">
                    </DxGridDataColumn>
                    <DxGridDataColumn Caption="Oficina" FieldName="OfCodigo" Width="160px" VisibleIndex="5">
                        <EditSettings>
                            <DxComboBoxSettings Data="oficinas"
                                                ValueFieldName="OfCodigo"
                                                TextFieldName="OfDescri"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                EditFormat="{1} {2}">
                                <Columns>
                                    <DxListEditorColumn FieldName="OfCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="OfDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBoxSettings>
                        </EditSettings>
                    </DxGridDataColumn>

                    <DxGridDataColumn Caption="Aprobada" FieldName="Reqaprobad" Width="80px" VisibleIndex="6"></DxGridDataColumn>
                    <DxGridDataColumn Caption="F. Contratar" FieldName="Reqfechaprobable" Width="80px" VisibleIndex="6"></DxGridDataColumn>
                    <DxGridDataColumn Caption="Cant. Solic" FieldName="Reqqty" Width="80px" VisibleIndex="7"></DxGridDataColumn>
                    <DxGridDataColumn Caption="Cant. Aprob" FieldName="Reqqtyprof" Width="80px" VisibleIndex="8"></DxGridDataColumn>

                    <DxGridDataColumn Caption="Motivo" FieldName="MtCodigo" VisibleIndex="9" Width="130px">
                        <EditSettings>
                            <DxComboBoxSettings Data="motivos"
                                                ValueFieldName="MtCodigo"
                                                TextFieldName="MtDescri"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                EditFormat="{1} {2}"
                                                SearchMode="@ListSearchMode.AutoSearch"
                                                SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="MtCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="MtDescri" Caption="Descripción" />

                                </Columns>
                            </DxComboBoxSettings>
                        </EditSettings>
                    </DxGridDataColumn>

                    <DxGridDataColumn Caption="Estatus" FieldName="Reqesta" VisibleIndex="9" Width="130px">
                        <EditSettings>
                            <DxComboBoxSettings Data="estatus"
                                                ValueFieldName="Value"
                                                TextFieldName="Text"
                                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                                EditFormat="{1} {2}"
                                                SearchMode="@ListSearchMode.AutoSearch"
                                                SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="Value" Caption="Código" />
                                    <DxListEditorColumn FieldName="Text" Caption="Descripción" />

                                </Columns>
                            </DxComboBoxSettings>
                        </EditSettings>
                    </DxGridDataColumn>
                </Columns>
            </DxGrid>
            @*  <div class="alerts">
                <Alert Message="Algo no esta del todo bien" TypeAlert="error" />

                <Alert Message="Empleado creado correctamente" TypeAlert="warning" />

                <Alert Message="Empleado creado correctamente" TypeAlert="info" />

                <Alert Message="Empleado creado correctamente" TypeAlert="success" />

            </div> *@
        }
    </DxTabPage>
    <DxTabPage Text="Mantenimiento">
        <div class="W-100">


            <div class="header">
                <span style="font-size:16px; font-weight:300;" class="eikon-primary-text">@Encabezado</span>
                <div style="display:flex; gap:10px">
                </div>

                <Toolbar formulario="FRHCL104" OnAdd="AgregarReq" OnSave="ActualizarReq" OnRemove="EliminarReq" OnAudit="OnAuditPopup" />
            </div>
        </div>
        <div class="separador">
            <hr />
        </div>
        <EditForm Model="@SelectedRq">
            <DataAnnotationsValidator />
            <DxFormLayout>
                <div class="eikon-secondary-bg col-12 mt-2"><h5 style="color:white">Datos Generales</h5></div>
                <div class="w-100">
                    <div class="row">
                        <div class="col-4">
                            <label for="reqnume">Requisición Número</label>
                            <DxTextBox Id="reqnume" @bind-Text="@SelectedRq.Reqnume" ReadOnly="true" />
                        </div>

                        <div class="col-4">
                            <label for="reqtitu">Descripción</label>
                            <DxTextBox Id="reqtitu" @bind-Text="@SelectedRq.Reqtitu" />
                        </div>


                        <div class="col-4">
                            <label for="ofcodigo">@lblOficina</label>
                            <DxComboBox Id="ofcodigo" Data="@oficinas"
                                        ValueFieldName="OfCodigo"
                                        TextFieldName="OfDescri"
                                        @bind-Value="@SelectedRq.OfCodigo"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="OfCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="OfDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBox>
                        </div>



                    </div>

                </div>

                <div class="w-100">
                    <div class="row">
                        <div class="col-4">
                            <label for="ubcodigo">Departamento</label>
                            <DxComboBox Id="ubcodigo" Data="@ubicaciones"
                                        ValueFieldName="UbCodigo"
                                        TextFieldName="UbDescri"
                                        @bind-Value="@SelectedRq.UbCodigo"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="UbCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="UbDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBox>
                        </div>
                        <div class="col-4">
                            <label for="ofcodigo">Puesto</label>
                            <DxComboBox Id="ofcodigo" Data="@puestos"
                                        ValueFieldName="JoNumber"
                                        TextFieldName="JoTitulo"
                                        @bind-Value="@SelectedRq.JoNumber"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="JoNumber" Caption="Código" />
                                    <DxListEditorColumn FieldName="JoTitulo" Caption="Descripción" />
                                </Columns>
                            </DxComboBox>
                        </div>

                        <div class="col-4">
                            <label for="cccodigo">Centro de Costos</label>
                            <DxComboBox Id="cccodigo" Data="@ccostos"
                                        ValueFieldName="CcCodigo"
                                        TextFieldName="CcDescri"
                                        @bind-Value="@SelectedRq.CcCodigo"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="CcCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="CcDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBox>
                        </div>

                    </div>

                </div>

                <div class="separador">
                    <hr />
                </div>
                <div class="eikon-secondary-bg col-12 mt-1"><h5 style="color:white">Requisición</h5></div>
                <div class="w-100">
                    <div class="row">
                        <div class="col-4">
                            <label for="fecontrata">Fecha Contratar</label>
                            <DxDateEdit Id="fecontrata" @bind-Date="@SelectedRq.Reqfechaprobable" />
                        </div>

                        <div class="col-4">
                            <label for="reqqty">Cantidad Requerida</label>
                            <DxSpinEdit Id="reqqty" @bind-Value="@SelectedRq.Reqqty" MinValue="1" />
                        </div>
                        <div class="col-4">
                            <label for="ofcodigo">Motivo</label>
                            <DxComboBox Id="mtcodigo" Data="@motivos"
                                        ValueFieldName="MtCodigo"
                                        TextFieldName="MtDescri"
                                        @bind-Value="@SelectedRq.MtCodigo"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="MtCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="MtDescri" Caption="Descripción" />
                                </Columns>
                            </DxComboBox>
                        </div>
                    </div>

                </div>
                <div class="w-100">
                    <div class="row">


                        <div class="col-4">
                            <label for="ubcodigo">Solicitado Por</label>
                            <DxComboBox Id="ubcodigo" Data="@solicitado"
                                        ValueFieldName="Value"
                                        TextFieldName="Text"
                                        @bind-Value="@SelectedRq.Reqsoli"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="Value" Caption="Nombre" />
                                    <DxListEditorColumn FieldName="Text" Caption="Apellido" />
                                </Columns>
                            </DxComboBox>
                        </div>


                        <div class="col-4 ">
                            <label for="tipocont">Tipo de Contrato (MT = Medio Tiempo)</label>

                            <DxRadioGroup Id="tipocont" CssClass="dxbl-text-edit"
                                          Items="@contratos"
                                          TextFieldName="Text"
                                          ValueFieldName="Value"
                                          @bind-Value="@SelectedRq.Reqtipo"
                                          Layout="RadioGroupLayout.Horizontal">
                            </DxRadioGroup>

                        </div>
                        <div class="col-4">
                            <label for="turno">Turno</label>
                            <DxRadioGroup Id="turno" CssClass="dxbl-text-edit"
                                          Items="@turnos"
                                          TextFieldName="Text"
                                          ValueFieldName="Value"
                                          @bind-Value="@SelectedRq.TipoTurno"
                                          Layout="RadioGroupLayout.Horizontal">
                            </DxRadioGroup>

                        </div>
                    </div>
                </div>
                <div class="eikon-secondary-bg col-12 mt-2"><h5 style="color:white">Datos básicos</h5></div>
                <div class="w-100">
                    <div class="row">


                        <div class="col-4">
                            <label for="reqlic">Licencia de conducir</label>

                            <DxRadioGroup Id="reqlic" CssClass="dxbl-text-edit"
                                          Items="@licencias"
                                          TextFieldName="Text"
                                          ValueFieldName="Value"
                                          @bind-Value="@SelectedRq.Reqpriorid"
                                          Layout="RadioGroupLayout.Horizontal">
                            </DxRadioGroup>
                        </div>




                        <div class="col-4">
                            <label for="reqesbasica">Descripción de Puesto</label>
                            @* <DxTextBox Id="reqesbasica" @bind-Text="@SelectedRq.ReqEsBasica" TextMode="TextBoxMode.MultiLine" Rows="4" /> *@
                            <DxMemo Id="reqesbasica" @bind-Text="@SelectedRq.ReqEsBasica"
                                    NullText="Escribe tus especificaciones aquí..."
                                    Rows="3" />

                        </div>
                        <div class="col-4">
                            <label for="reqcome">Comentarios</label>
                            @*                             <DxTextBox Id="reqcomo" @bind-Text="@SelectedRq.Reqcome" TextMode="TextBoxMode.MultiLine" Rows="4" />
 *@                            <DxMemo Id="reqcomo" @bind-Text="@SelectedRq.Reqcome"
                                                                  NullText="Escribe tus comentarios aquí..."
                                                                  Rows="3" />
                        </div>
                    </div>
                </div>
               
                @if (NivelAprob != "R")
                {
                    var esSoloLectura = NivelAprob == "C";
                    <div class="eikon-secondary-bg col-12 mt-2"><h5 style="color:white">Area de Recursos Humanos</h5></div>
                    <div class="w-100">
                        <div class="row">


                        <div class="col-6">
                            <label for="reqesta">Estatus</label>

                            <DxRadioGroup Id="reqesta" CssClass="dxbl-text-edit"
                                          Items="@estatus"
                                          TextFieldName="Text"
                                          ValueFieldName="Value"
                                          @bind-Value="@SelectedRq.Reqesta"
                                          Readonly="@esSoloLectura"
                                          Layout="RadioGroupLayout.Horizontal">
                            </DxRadioGroup>
                        </div>




                        <div class="col-2">
                            <label for="reqqtyprof">Cantidad Aprobada</label>
                            @* <DxTextBox Id="reqesbasica" @bind-Text="@SelectedRq.ReqEsBasica" TextMode="TextBoxMode.MultiLine" Rows="4" /> *@
                                <DxSpinEdit @bind-value="@SelectedRq.Reqqtyprof" MaxValue="@SelectedRq.Reqqty" MinValue="1" Readonly="@esSoloLectura" />

                        </div>
                        <div class="col-4">
                            <label for="ancodigo">Analista</label>
                            <DxComboBox Id="ancodigo" Data="@analistas"
                                        ValueFieldName="AnCodigo"
                                        TextFieldName="AnDescri"
                                        @bind-Value="@SelectedRq.AnCodigo"
                                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                                        EditFormat="{1} {2}"
                                        SearchMode="@ListSearchMode.AutoSearch"
                                            Readonly="@esSoloLectura"
                                        SearchFilterCondition="@ListSearchFilterCondition.Contains">
                                <Columns>
                                    <DxListEditorColumn FieldName="AnCodigo" Caption="Código" />
                                    <DxListEditorColumn FieldName="AnDescri" Caption="Nombre" />
                                </Columns>
                            </DxComboBox>
                        </div>
                    </div>
                </div>
                }
            </DxFormLayout>
        </EditForm>

    </DxTabPage>
</DxTabs>
<DxPopup @bind-Visible="@isPopupVisible"
         HeaderText="@popupTitle"
         ShowCloseButton="true"
         ShowFooter="true"
         Width="600px">
    <BodyTemplate Context="popupCtx">
        <EditForm Context="editpop" Model="@SelectedRq">
            <DataAnnotationsValidator />
            <DxFormLayout>
                <DxFormLayoutItem Caption="Creado por:" >
                    <DxTextBox @bind-Text="@SelectedRq.CreatedBy" ReadOnly/>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Creado el:">
                    <DxDateEdit @bind-Date="@SelectedRq.CreatedOn" ReadOnly/>
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Modificado por:">
                    <DxTextBox @bind-Text="@SelectedRq.ChangedBy" ReadOnly />
                </DxFormLayoutItem>
                <DxFormLayoutItem Caption="Modificado el:">
                    <DxDateEdit @bind-Date="@SelectedRq.ChangedOn" ReadOnly />
                </DxFormLayoutItem>
            </DxFormLayout>
        </EditForm>
    </BodyTemplate>
    <FooterTemplate>
@*         <DxButton RenderStyle="ButtonRenderStyle.Primary"
                  Text="Guardar"
                  Click="GuardarDatos" /> *@
        <DxButton Text="Salir" RenderStyle="ButtonRenderStyle.Secondary" Click="@OnCancelPopup" />
    </FooterTemplate>
</DxPopup>


@code {
    [Parameter]
    public string? pa { get; set; }
    public string formulario = "FRHCL104";
    public string NivelAprob = "R";
    DxGrid? MyGrid;
    DxGrid? MyGrid2;
    public Alert2 alertInfo { get; set; } = new Alert2();
    public Alert alertInfo2 { get; set; } = new Alert();
    public bool IsInfoVisible { get; set; } = false;
    public bool isPopupVisible { get; set; } = false;
    public int ActiveTabIndex { get; set; } = 0; // Set initial active tab (0-indexed)
    public string? lblOficina { get; set; } = "Oficina";

    void OnActiveTabIndexChanged(int newIndex)
    {
        ActiveTabIndex = newIndex;
        // You can add logic here to handle tab changes, e.g., load data based on the selected tab.
    }

    // Method to programmatically change the active tab
    public void SetActiveTab(int index)
    {
        if (index >= 0 && index < 3) // Assuming 3 tabs
        {
            ActiveTabIndex = index;
        }
    }
    private void OnCancelPopup()
    {
        isPopupVisible = false;
    }

    private void OnAuditPopup()
    {
        isPopupVisible = true;
    }
    // int ActiveIndex = 0;

    // void OnTabChanged(int index)
    // {
    //     ActiveIndex = index;
    // }
    private string TipoContrato { get; set; } = "C";
    private string popupTitle = "Requisión de Puesto";

    public class ContratoOption
    {
        public string Value { get; set; }
        public string Text { get; set; }

        public ContratoOption(string value, string text)
        {
            Value = value;
            Text = text;
        }
    }

    private List<ContratoOption> contratos = new()
    {
        new ContratoOption("I", "Indefinido"),
        new ContratoOption("D", "Definido"),

    };

    public class TurnoOption
    {
        public string Value { get; set; }
        public string Text { get; set; }

        public TurnoOption(string value, string text)
        {
            Value = value;
            Text = text;
        }
    }

    private List<TurnoOption> turnos = new()
    {
        new TurnoOption("F", "Fijo"),
        new TurnoOption("V", "Variable"),

    };

    public class LicenciaOption
    {
        public string Value { get; set; }
        public string Text { get; set; }

        public LicenciaOption(string value, string text)
        {
            Value = value;
            Text = text;
        }
    }

    private List<LicenciaOption> licencias = new()
    {
        new LicenciaOption("S", "Si"),
        new LicenciaOption("N", "No"),
        new LicenciaOption(" ", "N/A"),

    };

    public class Estatus
    {
        public string Value { get; set; }
        public string Text { get; set; }

        public Estatus(string value, string text)
        {
            Value = value;
            Text = text;
        }
    }

    private List<Estatus> estatus = new()
    {
        new Estatus("A", "Aprobada"),
        new Estatus("N", "Nueva"),
        new Estatus("E", "En Proceso"),
        new Estatus("C", "Completada"),
        new Estatus("R", "Rechazada"),
    };

    private List<Frhrq010Dto> datarq;
    private List<Frhrq010Dto> datarqAprob;
    private List<Frhrq010Dto> datarqRechazadas;
    private List<Trhof010Dto> oficinas { get; set; }
    private List<Trhub010Dto> ubicaciones { get; set; }
    private List<Frhjo010Dto> puestos { get; set; }
    private List<Trhcc010Dto> ccostos { get; set; }
    private List<Frhma010Dto> emplact { get; set; }
    private SelectListItem[] solicitado { get; set; }
    private List<Trhmt000Dto> motivos { get; set; }
    private List<Trhaw000Dto> aprobadores { get; set; }
    private List<Trhan000Dto> analistas { get; set; }
    private Frhrq010Dto SelectedRq { get; set; }
    private List<Trhem000> empresas { get; set; } = new List<Trhem000>();
    private List<Trhfm000Dto> permisos { get; set; } = new List<Trhfm000Dto>();
    private List<Trhis000Dto> opciones { get; set; } = new List<Trhis000Dto>();
    private List<Trhmp000Dto> accesos { get; set; } = new List<Trhmp000Dto>();
    public string Token { get; set; } = "";
    public string ApiBaseUrl { get; set; } = "";
    // **- private string[] // **- ToolbarOptions = new string[5];
    private string Encabezado { get; set; } = "Editando Requisición de Personal";
    public IEnumerable<string> TipoEmplSelec { get; set; } = new List<string>() {"Regular",
        "Temporero",
        "ExEmpleados",
        "Pensionados"};
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Solo ejecutar la llamada una vez, cuando el componente se renderiza por primera vez
            //Token = await auth.GetTokenAsync();
            Token = auth.tkn;
            if (string.IsNullOrEmpty(Token))
            {
                Token = await auth.GetTokenAsync();
            }
            if (string.IsNullOrEmpty(Token))
            {
                nv.NavigateTo("/index");
            }
            auth.SetToken(Token);

            //  // Forzar un nuevo renderizado si es necesario
            api.SetToken(Token);

            await CargarDatos();
            //StateHasChanged();
            // await SetPermisos("0026", "WFRHSU204");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        lblOficina = "Officina";
        if (string.IsNullOrEmpty(Token))
        {
            ////** api.ObtenerTokenAsync();
            // Token = api.GetToken();
            // Token = await auth.GetTokenAsync();
            Token = auth.tkn;
            if (string.IsNullOrEmpty(Token))
            {
                //Token = await auth.GetTokenAsync();
                return;
            }
            auth.SetToken(Token);
            api.SetToken(Token);
        }
        //ApiBaseUrl = api.GetApiBaseUrl();

        puestos = await api.Frhjo010DtoGetAll(Token);
        analistas = await api.anGetByEmCodigo("01", Token);
        ubicaciones = await api.ubGetByEmCodigo("01", Token);
        oficinas = await api.ofGetByEmCodigo("01", Token);
        ccostos = await api.ccGetByEmCodigo("01", Token);
        motivos = await api.mtGetByEmCodigo("01", Token);
        await CargarDatos();
        //StateHasChanged();
    }
    async Task CargarDatos()
    {
        string tiposEmpl = "F";


        var mapeo = new Dictionary<string, string>
{
    { "Regular", "F" },
    { "Temporero", "T" },
    { "ExEmpleados", "X" },
    { "Pensionados", "P" }

};

        var listaConvertida = TipoEmplSelec
            .Where(x => mapeo.ContainsKey(x))
            .Select(x => mapeo[x])
            .ToList();
        if (listaConvertida != null)
        {
            tiposEmpl = "";
            foreach (var item in listaConvertida)
            {
                tiposEmpl += item + ",";
            }
        }
        if (Token != null)
        {
            await Task.Delay(100);
            //**ApiBaseUrl = api.GetApiBaseUrl();
            HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);
            //puestos = await MockpuestosService.GetAllAsync(9); //**await api.joGetAllAsync(Token);
            //var listarq = await MockDatarqService.GetAllAsync(9);
            var listarq= await api.FRHrq010DtoPorEmpresa("01");
            var apiPuestos = new Frhpu010Client(ApiBaseUrl, HttpClient);
            var pa = auth.role;
            permisos = await api.GetTrhfm000DtosByPaIsCodigo(formulario, Token);
            opciones = await api.GetTrhis000DtosByIsCodigo(formulario);
            accesos = await api.GetTrhmp000DtosByIsCodigo(pa);
            var isf = opciones.Where(op => op.IsTipo == "C").First().IsCodigo.Trim();
            var res1 = accesos.Where(ac => ac.IsCodigo.Contains(isf)).First().IsCodigo.Trim();
            NivelAprob = accesos.Where(ac => ac.IsCodigo.Contains(isf)).First().MpNivel.Trim();


            datarq = listarq.Where(rq => rq.Reqesta == "P" || rq.Reqesta == "N" || rq.Reqesta == "E").OrderByDescending(fe => fe.LastupDate).ToList();

            SelectedRq = datarq.FirstOrDefault();
            datarqAprob = listarq.Where(rq => rq.Reqesta == "A" || rq.Reqesta == "C").OrderByDescending(fe => fe.LastupDate).ToList();

            datarqRechazadas = listarq.Where(rq => rq.Reqesta == "R" || rq.Reqesta == " ").OrderByDescending(fe => fe.LastupDate).ToList();
            var est = SelectedRq.Reqsoli;
            
            emplact = await api.Frhma010PorEmpresa("01");
            solicitado = emplact.Select(e => new SelectListItem
            {
                Value = e.Maenomi,
                Text = $"{e.Maenomb.Trim()} {e.Maeapel.Trim()}"
            }).ToArray();
            
        }
        StateHasChanged();
    }



    async Task ActualizarReq()
    {
        var dataItem = SelectedRq;
        //dataItem.OfEstatus = Estatus;


        //dataItem.AnCodigo = "";
        dataItem.ReqCreate = "S";
        dataItem.Reqaprobad = new DateTime(1971, 1, 1);

        dataItem.EmEmpresa = "01";
        dataItem.FwCodigo = "001";
        dataItem.Maenume = "99999999";
        dataItem.PasUserid = auth.userId;


        dataItem.Reqedad = 0;

        dataItem.Reqfec1 = DateTime.Now;

        // dataItem.Reqfechaprobable = dataItem.FechaTopeContrato;
        dataItem.Reqqtycomp = dataItem.Reqqty;
        dataItem.Reqqtycont = dataItem.Reqqty;
        //dataItem.Reqqtyprof = dataItem.Reqqty;
        dataItem.Reqsexo = " ";
        dataItem.Reqsue1 = 0;
        dataItem.Reqsuel = 0;
        dataItem.LastupDate = DateTime.Now;
        if (dataItem.Reqesta == "A" || dataItem.Reqesta == "C")
        {
            dataItem.Reqaprobad = DateTime.Now;
        }
        else
        {
            dataItem.Reqaprobad = new DateTime(1971, 1, 1);
        }

        if (SelectedRq.IdentityColumn == 0)
        {
            if(dataItem.Reqnume==null)
                dataItem.Reqnume = "00000000";           // Asignar un valor por defecto
            if (dataItem.AnCodigo == null)
                dataItem.AnCodigo = " ";
            dataItem.Reqfech = DateTime.Now;
            dataItem.Camnume = "0000000"; // Asignar un valor por defecto
            dataItem.ChangedBy = "EikonBl";
            dataItem.CreatedBy = auth.userId;
            dataItem.CreatedOn = DateTime.Now;
            dataItem.Reqesta = "N"; // Estatus de la requisición
            try
            {
                var ret0 = await api.FRHrq010DtoInsert(dataItem); //insertar requisición
                alertInfo.Show("Requisición Insertada!!!");
                // IsInfoVisible = true;
                await CargarDatos();
                //ActiveTabIndex = 0; // Cambiar de pestaña
                if (dataItem.Reqesta == "A" || dataItem.Reqesta == "C")
                {
                    ActiveTabIndex = 1; // Cambiar a la pestaña de Aprobadas
                }
                else
                {
                    ActiveTabIndex = 0; // Cambiar a la pestaña req en proceso
                }
            }
            catch (ApiException ex)
            {

                alertInfo.Show("Requisición NO Insertada: Error 1: > " + ex.Message, "warning");
            }
            catch (Exception ex)
            {

                alertInfo.Show("Requisición No Insertada: Error 2: > " + ex.Message, "error");
            }

            //dataue = new List<Frhue000Dto>();
            //nv.NavigateTo("/WFRHSU204");
        }
        else
        {
            try
            {
                dataItem.ChangedBy = auth.userId;
                dataItem.ChangedOn=DateTime.Now;
                var ret = await api.FRHrq010DtoUpdate(SelectedRq.IdentityColumn, dataItem); // update req
                alertInfo.Show("Requisición Actualizada!!!");
                // IsInfoVisible = true;
                await CargarDatos();
                if (dataItem.Reqesta == "A" || dataItem.Reqesta == "C")
                {
                    ActiveTabIndex = 1; // Cambiar a la pestaña de Aprobadas
                }
                else
                {
                    ActiveTabIndex = 0; // Cambiar a la pestaña req en proceso
                }

            }
            catch (ApiException ex)
            {

                alertInfo.Show("Requisición Actualizada con estatus: " + ex.StatusCode, "warning");
            }
            catch (Exception ex)
            {

                alertInfo.Show("Requisición No Actualizada Error 4 ..." + ex.Message, "error");
            }

            // nv.NavigateTo("/WFRHSU204");
        }

    }
    async Task EliminarReq()
    {
        // Implementar la lógica para procesar la nómina
        // Aquí puedes llamar a un servicio o realizar alguna acción específica
        // await Task.Delay(100); // Simulación de procesamiento
        try 
        {
            var ret = await api.Frhrq010DtoDelete(Token, SelectedRq.IdentityColumn);
            if (ret)
            { Console.WriteLine("Eliminar requisición retorno verdadero..."); }
            else
            { Console.WriteLine("Eliminar requisición retorno *Falso*..."); }
            await CargarDatos();
            ActiveTabIndex = 0;

        }
        catch(ApiException ax)
        {
            alertInfo.Show("Requisición Eliminada con estatus: " + ax.StatusCode, "warning");

        }
        catch (Exception ex)
        {

            alertInfo.Show("Requisición No Eliminada Error 5 ..." + ex.Message, "error");
        }
        
        //StateHasChanged();
    }
    async Task AgregarReq()
    {
        SelectedRq = new Frhrq010Dto();
        SelectedRq.Reqfechaprobable = DateTime.Now.AddDays(30);
        SelectedRq.Reqfech = DateTime.Now.AddDays(30);
        SelectedRq.Reqqty = 1;
        Encabezado = "Nueva Requisición de Personal";
        await Task.Delay(100);
        ActiveTabIndex = 2;
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        if (e.IsNew)
        {
            SelectedRq = new Frhrq010Dto();
            ActiveTabIndex = 2; // Cambiar a la pestaña de Mantenimiento

        }
        else
        {
            SelectedRq = (Frhrq010Dto)e.DataItem;
            ActiveTabIndex = 2; // Cambiar a la pestaña de Mantenimiento

        }
    }
    void OnRowClick(GridRowClickEventArgs e)
    {
        //nv.NavigateTo("/FRHCL101Detalle/" + e.Grid.GetRowValue(e.VisibleIndex, "IdentityColumn"));
        //Alert = $"Clicked row index: {e.VisibleIndex}. Corresponding date: '{e.Grid.GetRowValue(e.VisibleIndex, "Date")}'";
        SelectedRq = (Frhrq010Dto)e.Grid.SelectedDataItem;
        SetActiveTab(2);
        ActiveTabIndex = 2; // Cambiar a la pestaña de Mantenimiento
    }
    void Editar(Frhrq010Dto empleado)
    {
        SelectedRq = empleado;
        Encabezado = "Editando Requisición de Personal " + SelectedRq.Reqnume;
        SetActiveTab(2); // Cambiar a la pestaña de Mantenimiento
        //StateHasChanged();
    }
}
