@page "/wtrhpa000"

@using DevExpress.Blazor
@using System.Net.Http.Json
@using System.Net.Http.Headers
@using EIKON.UI.Interfaces
@inject HttpClient HttpClient
@inject EIKON.UI.Services.EikonDataServices api

<PageTitle>Opciones Menu</PageTitle>
<h1>Mantenimiento Trhpa000...</h1>

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxGrid Data="@data" @ref="MyGrid"
            CssClass="mw-1100"
            EditModelSaving="OnEditModelSaving"
                EditMode="GridEditMode.EditRow"
            DataItemDeleting="OnDataItemDeleting">
        <Columns>
            <DxGridCommandColumn Width="60px" >
                <HeaderTemplate>
                    <a class="text-primary" @onclick="@(() => MyGrid.StartEditNewRowAsync())" style="text-decoration: none;" href="javascript:void(0);"><i class="fi fi-rr-plus"></i></a>
                </HeaderTemplate>
                <CellDisplayTemplate>
                    <a class="text-primary" @onclick="@(() => MyGrid.StartEditRowAsync(context.VisibleIndex))" style="text-decoration: none;" href="javascript:void(0);"><i class="fi fi-rr-edit"></i></a>
                    <a class="text-primary" @onclick="@(() => MyGrid.ShowDataItemDeleteConfirmation(context.DataItem))" style="text-decoration: none;" href="javascript:void(0);"><i class="fi fi-rr-trash"></i></a>
                </CellDisplayTemplate>
               </DxGridCommandColumn>
            <DxGridDataColumn Caption="Id" FieldName="PaCodigo" Width="200px"  />
            <DxGridDataColumn Caption="Descripción" FieldName="PaDescri" Width="300px" />
           
            <DxGridDataColumn FieldName="PaComent" Caption="Comentario" Width="380px">
                           </DxGridDataColumn>
            <DxGridDataColumn Caption="Tipo" FieldName="PaTipo" />
            

        </Columns>
    </DxGrid>
    
}

<h3 class=""></h3>
@* <div class="row">
    <div class="col-md-2">
 <DxComboBox Data="@empresas"
            TextFieldName="EmDescri"
            ValueFieldName="EmCodigo"
            @bind-Value="SelectedCategoryId"
            ShowClearButton="true"
            Placeholder="Select a empresa"
            Width="300px">
</DxComboBox> 
    </div>
    <div class="col-md-2">
        <i class="fi fi-rr-plus"></i>Seleccionado:<b> @SelectedCategoryId</b>
    </div>
    <div class="col-md-1">
        <label for="EmDesde" class="demo-text cw-320 mb-1">
            Fecha
        </label>
    </div>
    <div class="col-md-2">
        <DxDateEdit @bind-Date="@DateTimeValue"
                    CssClass=""
                    InputId="EmDesde" />
    </div>
    <div class="col-md-3">
        Seleccionado: <b>@DateTimeValue.ToString("dddd, dd MMM yyyy")</b>
    </div>
    <div class="col-md-2">
        
        <DxCheckBox @bind-Checked="@IsChecked">@GetText()</DxCheckBox>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
             <button class="btn btn-primary" @onclick="OpenModal">Registrar Token</button> 
    </div>
    <div class="col-md-10">
         <DxPopup Visible @bind-Value="IsModalVisible" >
          
                <div class="modal-content">
                    <DxTextBox Text="@Token" Placeholder="Ingrese el token" />
                    <DxButton Text="Aceptar" OnClick="ConfirmToken" />
                    <DxButton Text="Cancelar" OnClick="Cancel" />
                </div>
            </DxPopup> 
    </div>
</div> *@
@code {
    public bool IsModalVisible { get; set; }
    public string Token { get; set; } = "";
    public string ApiBaseUrl { get; set; } ="";
    private void ConfirmToken()
    {
        // Aquí puedes hacer algo con el token, por ejemplo, almacenarlo en una variable global o enviarlo a un servicio
        IsModalVisible = false;
    }

    private void Cancel()
    {
        IsModalVisible = false;
    }
    private void OpenModal()
    {
        IsModalVisible = true;
    }

    DxGrid? MyGrid;
    DateTime DateTimeValue { get; set; } = DateTime.Now;
    private bool IsChecked { get; set; } = false;
    string GetText()
    {
        if (IsChecked) return "Activo";
        else return "Inactivo";
    }
    private List<Trhpa000Dto> data;
    private List<Trhnz000Dto> modulos { get; set; } =new List<Trhnz000Dto>();
    private string SelectedCategoryId { get; set; }
    private Trhpa000Dto SelectedItem { get; set; }
    protected override async Task OnInitializedAsync()
    {

        // EikonDataServices eikonDataServices =  null;
        if (Token == "")
        {
            //api.ObtenerTokenAsync();
            Token = api.GetToken();
        }
        ApiBaseUrl = api.GetApiBaseUrl();
        HttpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", Token);
        //  data = await HttpClient.GetFromJsonAsync<List<Models.Trhem000>>(ApiBaseUrl + "Trhem000");
        //   empresas = await HttpClient.GetFromJsonAsync<List<Models.Trhem000>>("http://localhost:8081/api/Trhem000");
        data = await HttpClient.GetFromJsonAsync<List<Trhpa000Dto>>(ApiBaseUrl + "api/Trhpa000");
        modulos = await HttpClient.GetFromJsonAsync<List<Trhnz000Dto>>(ApiBaseUrl + "api/Trhnz000");
    }
    async Task OnDataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        // var codigo = ((Trhpa000Dto)e.DataItem).IdentityColumn;
        // await HttpClient.puDeleteAsync(ApiBaseUrl + "Trhpa000/" + ((Trhpa000Dto)e.DataItem).IdentityColumn);
        // data = await HttpClient.GetFromJsonAsync<List<Trhpa000Dto>>(ApiBaseUrl + "Trhpa000");
    }
    async Task OnEditModelSaving(GridEditModelSavingEventArgs e)
    {
        if (e.IsNew)
        {
            Trhpa000Dto newCategory = new Trhpa000Dto();
            SetNewValues(newCategory, (Trhpa000Dto)e.EditModel);
            //await HttpClient.PostAsJsonAsync<DTOs.Trhpa000Dto>(ApiBaseUrl + "Trhpa000/", newCategory);
            HttpResponseMessage response = await HttpClient.PostAsJsonAsync<Trhpa000Dto>(ApiBaseUrl + "api/Trhpa000/", newCategory);

            // Verifica si la solicitud fue exitosa
            if (response.IsSuccessStatusCode)
            {
                // La solicitud fue exitosa. Puedes leer el contenido si es necesario.
                string responseContent = await response.Content.ReadAsStringAsync();
                // Puedes deserializar el contenido si es un JSON
                // var result = JsonConvert.DeserializeObject<YourResponseModel>(responseContent);
            }
            else
            {
                // La solicitud falló. Puedes manejar el error aquí.
                string errorContent = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Error: {response.StatusCode} - {errorContent}");
            }

            data = await HttpClient.GetFromJsonAsync<List<Trhpa000Dto>>(ApiBaseUrl + "api/Trhpa000");
        }
        else
        {
            var dataItem = (Trhpa000Dto)e.DataItem;
            SetEditValues(dataItem, (Trhpa000Dto)e.EditModel);
            HttpResponseMessage response = await HttpClient.PutAsJsonAsync(ApiBaseUrl + "api/Trhpa000/" + dataItem.PaCodigo, dataItem);
            if (response.IsSuccessStatusCode)
            {
                // La solicitud fue exitosa. Puedes leer el contenido si es necesario.
                string responseContent = await response.Content.ReadAsStringAsync();
                // Puedes deserializar el contenido si es un JSON
                // var result = JsonConvert.DeserializeObject<YourResponseModel>(responseContent);
            }
            else
            {
                // La solicitud falló. Puedes manejar el error aquí.
                string errorContent = await response.Content.ReadAsStringAsync();
                Console.WriteLine($"Error: {response.StatusCode} - {errorContent}");
            }

            data = await HttpClient.GetFromJsonAsync<List<Trhpa000Dto>>(ApiBaseUrl + "api/Trhpa000");
        }

        void SetNewValues(Trhpa000Dto dataItem, Trhpa000Dto newValues)
        {
            dataItem.PaCodigo = newValues.PaCodigo;
            dataItem.PaDescri = newValues.PaDescri;
            dataItem.PaComent = newValues.PaComent; 
            dataItem.PaTipo = newValues.PaTipo;

            
            dataItem.CreatedBy = "Eikon";
            dataItem.CreatedOn = DateTime.Today.Date;
            dataItem.ChangedBy = " ";
            dataItem.ChangedOn = DateTime.Today.Date;
            
        }
        void SetEditValues(Trhpa000Dto dataItem, Trhpa000Dto newValues)
        {
            //dataItem.PaCodigo = newValues.PaCodigo;
            dataItem.PaDescri = newValues.PaDescri;
            dataItem.PaComent = newValues.PaComent;
            dataItem.PaTipo = newValues.PaTipo;

            dataItem.ChangedBy = "Eikon";
            dataItem.ChangedOn = DateTime.Today.Date;

        }
    }

   
}



